<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfitnessapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_fitness_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_fitness_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFitnessApp">
        <activity
            android:name=".MealsDetailActivity"
            android:exported="false" />
        <!-- SPLASH SCREEN (LAUNCHER) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- LOGIN -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" /> <!-- REGISTER -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" /> <!-- DASHBOARD -->
        <activity
            android:name=".DashboardActivity"
            android:exported="false" /> <!-- BMI -->
        <activity
            android:name=".BmiActivity"
            android:exported="false" /> <!-- WORKOUT -->
        <activity
            android:name=".WorkoutActivity"
            android:exported="false" /> <!-- MEAL LIST -->
        <activity
            android:name=".MealActivity"
            android:exported="false" /> <!-- MEAL DETAIL -->
        <activity
            android:name=".MealDetailActivity"
            android:exported="false" />
    </application>

</manifest>